.item-list-page-container {
    width: 90%;
    max-width: 1400px;
    margin: 2rem auto;
}

.tab-menu-wrapper {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2rem;
}

.tab-item {
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    transition: color 150ms;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    margin-bottom: -2px;
}

.tab-item:hover {
    color: #000000;
}

.tab-item.is-active {
    color: #ef4444;
    border-bottom-color: #ef4444;
}

.item-list-grid-wrapper {

}

.item-list-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.search-result-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.no-items-message {
    text-align: center;
    padding: 2rem;
    color: #777;
}

@media (max-width: 1200px) {
    .item-list-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px) {
    .item-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}